<div ng-if="clientslist">


    <h3>
        <small><p class="text-right">Connected clients: {{clients.length}}</p></small>
    </h3>

    <div ng-if='client'>

        <ol class="breadcrumb">
            <li>
                <div ng-if="clientslist">
                    <div class="btn-group" ng-if="clients.length >0">
                        <a href="#/clients/" class="btn btn-default">Clients</a>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="client in clients" ng-click="showClient(client)"><a
                                    ng-href="#/clients/{{client.endpoint}}">
                                <strong>{{client.endpoint}}</strong></a></li>

                        </ul>
                    </div>
                </div>
            </li>
            <li class="active">{{ clientId }}</li>
            <span class="pull-right">

			<div class="row">
                <div class="col-lg-6"><h5><span class="label label-default">{{client.registrationDate | date:'medium'}}</span></h5></div>
                <div class="col-lg-6"><h5><span class="label label-default">{{client.lastUpdate | date:'medium'}}</span></h5></div>
			</div>
		</span>
        </ol>

        <!--/**********Admin + Sensor*************-->

        <div class="container">
            <ul class="nav nav-tabs" id="objectPanel">
                <li role="presentation" id="sensorPanel" style="float: right"><a ng-click="selectObjectTypePanel('adminPanel','sensorPanel');">Sensor</a>
                </li>
                <li role="presentation" id="adminPanel" style="float: right"><a
                        ng-click="selectObjectTypePanel('sensorPanel','adminPanel')">Admin</a></li>
            </ul>
        </div>
        <accordion close-others=false ng-show="showObjectType=='sensorPanel'">
            <object ng-repeat='object in objects' ng-if="object.id==3303 || object.id==3304 || object.id==3315" object='object' settings='settings'></object>
        </accordion>

        <accordion close-others=false  ng-show="showObjectType=='adminPanel'">
            <object ng-repeat='object in objects'  ng-if="object.id==1 || object.id==2 || object.id==3"  object='object' settings='settings'></object>
        </accordion>

        <!--/**********Admin + Sensor*************-->


        <!-- CoAP logs -->

        <div class="coaplogs">
            <div class="row">
                <div class="col-md-11"></div>
                <div class="col-md-1">
                    <button class="btn btn-default btn-xs coaplogs-button" ng-click="toggleCoapLogs()">CoAP messages
                    </button>
                </div>
            </div>
            <div collapse="coapLogsCollapsed" class="coaplogs-panel">
                <table class="table coaplogs-header">
                    <thead>
                    <tr>
                        <th class="col-md-1">Time</th>
                        <th class="col-md-1">CoAP Message</th>
                        <th class="col-md-1">MID</th>
                        <th class="col-md-1">Token</th>
                        <th class="col-md-4">Options</th>
                        <th class="col-md-4">Payload</th>
                    </tr>
                    </thead>
                </table>
                <div class="coaplogs-table">
                    <table class="table table-striped">
                        <tbody>
                        <tr ng-repeat="log in coaplogs">
                            <td class="col-md-1">{{log.date}}</td>
                            <td class="col-md-1"><span class="glyphicon"
                                                       ng-class="{'glyphicon-arrow-left' : !log.incoming, 'glyphicon-arrow-right' : log.incoming}"
                                                       aria-hidden="true"></span> {{log.type}}-{{log.code}}
                            </td>
                            <td class="col-md-1">{{log.mId}}</td>
                            <td class="col-md-1">{{log.token}}</td>
                            <td class="col-md-4">{{log.options}}</td>
                            <td class="col-md-4">{{log.payload}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div ng-if='error'>
        <div class="alert alert-danger">{{error}}</div>
    </div>

    <div ng-if='deregistered'>
        <h4>Client <b>{{clientId}}</b> is no more registered.</h4>
    </div>

    <!-- Write modal -->
    <div class="modal bs-example-modal-sm" id="writeModal" tabindex="-1" role="dialog"
         aria-labelledby="writeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="writeModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Value</label>
                            <div class="col-sm-10">
                                <input class="form-control" id="writeInputValue" ng-model="acb">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="writeSubmit">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>